.allBnt {
  background: rgba(84, 172, 254, 0.1);
  border: 1px solid #1485c7;
  opacity: 0.95;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 10px #1485c7;
  box-shadow: 0px 0px 10px #1485c7;
}

.checkboxFont {
  color: #fff;
}

.role {
  margin-left: 12rem;
  margin-top: 1rem;
  width: 85vw;

  &-header {
    display: flex;
    // justify-content: space-between;
    margin-bottom: 1rem;

    &-left {
      display: flex;
      align-items: center;

      &-span {
        color: #fff;
        width: 5rem;
      }

      &-input {
        input {
          // width: 16.5rem;
          border: 1px solid #24c9ff;
          background: rgba(31, 65, 145, 0.1);
          color: #66e2f5;
        }
      }
    }
  }

  &-table {
    margin-top: 1rem;
  }

  &-btn {
    border-radius: 4px;

    &:hover {
      background: none
    }

    &:focus {
      background: none
    }

    @extend .allBnt
  }

  &-btn:active {
    border-radius: 4px;
    background: none
  }

  .btns {
    border-radius: 4px;
    margin-bottom: 1rem;
    @extend .allBnt
  }

  .btns:active {
    border-radius: 4px;
    background: none
  }

  .inputs {
    width: 12rem;
  }

  // .modelAdd {

  //   >>>.ant-modal-body {
  //     height: 35rem !important;
  //     overflow: auto;
  //   }
  // }

}

// :global {

.ant-checkbox-wrapper+.ant-checkbox-wrapper {
  margin-left: 0px !important;
  margin-bottom: 15px !important;
}

.ant-input-affix-wrapper .ant-input-suffix {
  width: 22px;
  color: red;
  cursor: pointer
}

.ant-input-affix-wrapper .ant-input-suffix {
  right: 22px;
}

.ant-form-item-label label {
  color: cyan;
}

// }

.aaaaaaaaaa {
  margin-top: 10px
}

.spans {
  color: cyan
}

.bbbbbbbb {
  margin-top: 10px
}

.antBtn {
  margin-left: 1rem;
}