:root {
	--primary-color: #5584ff;
	--secend-color: rgb(47, 60, 78);

	--text: #fff;
	--text2: #a1a1a1;
	--text3: #9b9b9b;
	--text4: #727272;
	--dark-text: #333;
	--text-aciive: #56bc8a;

	--header-height: 64px;
	--footer-height: 70px;

	--blog-header: 40px;
}
.app {
	
}