.barMen {
  width: 240px;
  display: flex; // align-items: center;  
  flex-direction: column;

  .devicesele-selects {
    // width: 12rem;
    // display: flex;
    color: #fff !important;
    align-items: center;
    margin-top: 10px;
    height: 70vh !important;
    overflow: hidden;
    overflow-y: scroll;
  }

  &-P {
    text-align: center;
    margin-top: 10px;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid rgba(39, 111, 144, 1);

    &-d {
      background: rgb(0, 160, 233);
      height: 30px;
      margin: 0 12px;
    }

    a {
      font-size: 19px;
      color: #49C1FC;
      font-family: "MicrosoftYaHei";
      font-weight: 400;
    }
  }
}

.row-Input {
  width: 15rem;
}

.imgUpdate {
  margin-top: 1rem;
  display: flex;

  &-img {
    margin-right: 10px
  }

  &-imgsize {
    width: 150px;
    height: 150px;
  }

  .ant-upload {
    background-color: #1f4191;
    border: 1px solid #24c9ff;

    .anticon-plus {
      color: #fff;
    }

    .ant-upload-text {
      color: #fff;
    }
  }

}